%h1
  =@film.title
%h4
  Average Rating:
  =@film.avg_rating
%h4 Add a rating:
=form_with(model: [@film, @film.ratings.build], local: true) do |form|
  %p
    = form.select :value, [1, 2, 3, 4, 5]
  %p
    =form.submit

%h3
  Categories
%ul
  -@film.categories.each do |category|
    %li
      =link_to category.name, category_reviews_path(category)
%h3
  =link_to "Reviews", film_reviews_path(@film)

%h2
  Comments
%h4 Add a comment:
=form_with(model: [@film, @film.comments.build], local: true) do |form|
  %p
    =form.label :body
    %br/
    =form.text_area :body
  %p
    =form.submit
%ul
  - @comments.each do |comment|
    %li
      =comment.body
      =comment.user.username
      -# -if comment.user == current_user
      -# =link_to "Delete", comments_path, method: :delete
