%h1
  =@film.title
%h3
  Categories
%ul
  -@film.categories.each do |category|
    %li
      =category.name
      -# =link_to category.name, category_path(category)
%h2
  Comments
%h4 Add a comment:
=form_with(model: [@film, @film.comments.build], local: true) do |form|
  %p
    =form.label :body
    %br/
    =form.text_area :body
  %p
    =form.submit
%ul
  -@film.comments.each do |comment|
    %li
      =comment.body
      =comment.user
      -# =link_to category.name, category_path(category)

